@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;700&display=swap");
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  padding: 0;
  background-color: #DED8D5;
  font-family: "Mulish", sans-serif;
  color: #DED8D5;
}

.Dashboard {
  background-color: #464A5A;
  display: grid;
  grid-template-rows: 10% 40% 20% 10%;
  width: 360px;
  height: 640px;
  border-radius: 1.5rem;
}

.Dashboard-header h2 {
  margin: 10px 30px 5px 30px;
}

.location-search-input {
  background-color: #464A5A;
  margin: 10px 30px;
  width: 80%;
  border: none;
  border-bottom: 2px solid #5B5F6E;
  outline: none;
  color: #DED8D5;
  font-family: "Mulish", sans-serif;
}
.location-search-input:hover {
  border-bottom: 2px solid #F7AC1B;
}
.location-search-input:focus {
  border-bottom: 2px solid #F7AC1B;
}