@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;700&display=swap");
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  padding: 0;
  background-color: #DED8D5;
  font-family: "Mulish", sans-serif;
  color: #DED8D5;
}

.landing-section {
  background-color: #464A5A;
  display: grid;
  grid-template-rows: 1fr 70px;
  width: 360px;
  height: 640px;
  border-radius: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .logo-club1 {
  width: 150px;
}

main h1 {
  font-size: 48px;
  line-height: 50px;
  font-weight: normal;
  padding: 0 30px;
  text-align: center;
}

main button {
  width: 150px;
  height: 40px;
  border-radius: 50px;
  border-style: none;
  background: #F7AC1B;
  color: #464a5a;
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
main button:hover {
  background-color: #21242C;
  color: #F7AC1B;
}
main .register {
  text-decoration: none;
  color: #DED8D5;
  font-weight: 700;
}

main .register:hover {
  color: #F7AC1B;
  border-bottom: 1px solid #F7AC1B;
}
