/* Header */
.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  height: 40px;
  margin: 10px 0 0 30px;
}
.header a {
  color: #DED8D5;
  margin: 10px 30px 0 0;
  text-decoration: none;
}
.header a:hover {
  color: #F7AC1B;
  text-decoration: none;
}
/* Fin header */
